#--------------------------------
#   SERVER 
#--------------------------------

PORT= 
NODE_ENV=

#---------------------------------
#   PostgreSQL (Railway)
#---------------------------------

PG_HOST=
PG_PORT=
PG_DATABASE=
PG_USER=
PG_PASSWORD=

#-------------------------------------
#   JWT
#-------------------------------------

JWT_SECRET=
JWT_EXPIRES_IN=

#--------------------------------------
#    BCRYPT
#--------------------------------------

BCRYPT_SALT_ROUNDS=

#---------------------------------------
#    CORS
#---------------------------------------

FRONTEND_URL=
