#--------------------------------
#   SERVER 
#--------------------------------

PORT= 
NODE_ENV=

#---------------------------------
#   PostgreSQL (Railway)
#---------------------------------

PG_HOST=
PG_PORT=
PG_DATABASE=
DB_USER=
DB_PASSWORD=

#-----------------------------------
#   MongoDB
#-----------------------------------

MONGO_URI=
MONGO_DB_NAME=

#-------------------------------------
#   JWT
#-------------------------------------

JWT_SECRET=
JWT_EXPIRES_IN=

#--------------------------------------
#    BCRYPT
#--------------------------------------

BCRYPT_SALT_ROUNDS=

#---------------------------------------
#    CORS
#---------------------------------------

PRONTEND_URL=